/* @import url('https://fonts.googleapis.com/css?family=Amaranth|Delius+Unicase:700|Exo:700|Londrina+Solid|Mitr|Oleo+Script|Ubuntu:700|Vast+Shadow|Viga');
input, button , select{
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.808);
    border: 1px;
    border-radius:10px;
    font-size: 20px;
}

.form-control{
    margin-bottom: 25px;
    height: auto;
}

.pdf-form{
    text-align: center;
    font-family: 'Mitr', cursive;
    padding: 10px;
    margin: auto;
    max-width: 700px;
    font-size: 24px;
}
.checkbox{
    text-align: left;
}

input[type="checkbox"]{
    box-shadow: 0px 0px 0px rgba(128, 128, 128, 0.808);
    width: 20px;
    height: 20px;
}
 */
 @import url('https://fonts.googleapis.com/css?family=Amaranth|Delius+Unicase:700|Exo:700|Londrina+Solid|Mitr|Oleo+Script|Ubuntu:700|Vast+Shadow|Viga');
input, button , select{
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.808);
    border: 1px;
    border-radius:10px;
    font-size: 20px;
}

.form-control{
    margin-bottom: 25px;
    height: auto;
}

.selectForm{
    text-align: center;
    font-family: 'Mitr', 'cursive';
    padding: 1px;
    margin: auto;
    max-width: 700px;
    font-size: 24px;
}
table{
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    /* width: 100%; */
    font-size: 12px;
    table-layout: fixed;
	margin: 0; padding: 0;
    border-collapse: collapse;
    margin-top: 3%;
    margin-bottom : 10%;
}

th,td{
    background-color: #F2F2F2;
    /* border: 1px solid white; */
    padding: 10px;
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.808);
    border: 1px solid #CC3;
	border-spacing: 0;
	height: 50px;
	width: 50px;
    margin: 0; padding: 0;
    font-weight: bold;
}

td{
    color: black
}
#status{
    font-weight: bolder; 
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #5070B5;
    color: white;
    text-align: center;
}
