<div class="pdf-form">
  <div>
    <label style="margin-top:25px">Select Date</label>
    <input type="date" class="form-control" id="date" placeholder="วันเกิด">
  </div>
  <div class="form-group">
    <label for="sel0">School
    </label>
    <select class="form-control" id="sel0">
      <option>อนุบาลแห่งมหาวิทยาลัยธรรมศาสตร์</option>
      <option>อนุบาลปทุมธานี</option>
      <option>ประถมศึกษาแห่งมหาวิทยาลัยธรรมศาสตร์</option>
    </select>

    <label for="school">Classroom
    </label>
    <select class="form-control" id="school">
      <option>ป.2/1</option>
      <option>ป.2/2</option>
      <option>ป.2/3</option>
    </select>

    <label for="sel1">Student/Patient ID
    </label>
    <select class="form-control" id="sel1">
      <option>2301610001</option>
      <option>2301610002</option>
      <option>2301610003</option>
    </select>

    <label for="sel2">To
    </label>
    <select class="form-control" id="sel2">
      <option>2301610001</option>
      <option>2301610002</option>
      <option>2301610003</option>
    </select>

    <label for="ckeckbox" style="margin-top:25px">Select Document Type</label>
    <div class="checkbox">
      <label><input type="checkbox" value="">&nbsp;&nbsp;All Record Result Documents</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">&nbsp;&nbsp;Result Graph for Parents</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">&nbsp;&nbsp;Result Graph for Teacher</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">&nbsp;&nbsp;Result Graph for School Principal</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">&nbsp;&nbsp;Result Graph for Dentist</label>
    </div>
  </div>

  <div class="forBtn" style="margin-top:35px">
    <button type="submit" class="btn btn-success" onclick="chooseFile()">Download</button>
  </div>
</div>