<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <img src="../../../assets/img/success.png" style="width:100px; height:100px;">
          <p>Patient/Student Information added successfully</p>
        </div>
      </div>
  
    </div>
  </div>

<div class="desc">Select the file you wish to import data</div>
<div class="desc">The file extension must be .xlsx only</div>
<div class="import-form">
    <input type="file" (change)="incomingfile($event)" />
    <button type="submit" class="btn btn-success" (click)="Upload()" data-toggle="modal" data-target="#myModal" id="importSubmit" onclick="showModal()">OK</button>
</div>
