<div class="btn">
  <button type="button" class="form-control" [routerLink]="['/import']">
    <img src="assets/img/file.png">Add patient / Student Information</button>
</div>
<div class="btn">
  <button type="button" class="form-control" [routerLink]="['/file']">
    <img src="assets/img/import.png">Import Data via Excel</button>
</div>
<div class="btn">
    <button type="button" class="form-control" [routerLink]="['/development']">
      <img src="assets/img/presentation.png">Analysis Chart</button>
  </div>
<div class="btn">
  <button type="button" class="form-control" [routerLink]="['/excel']">
    <img src="assets/img/export.png">Download Excel Result</button>
</div>